.calculator_button {
    @apply flex justify-center items-center border-solid border-2 border-gray-900 dark:border-gray-500 bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-gray-100 hover:border-cyan-600 dark:hover:border-cyan-500 font-semibold text-lg;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-family: inherit;
    cursor: pointer;
}